
.created {
    margin-bottom: 20px;  
}
.peksfeks {
    display: inline-block;
    font-family: Mukta;
    font-weight: 400;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    margin-left: 10px;
}
.powered {
      margin-bottom: 30px;
}
.git {
    position: relative;
    width: 100px;
    height: 100px;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    margin-left: 50px;
    font-size: 16px;
    margin-right: 10px;
}
.git::before {
    content:  '';
    background-image: url('./../common/gitlogo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -40px;
    top: -2px;
}
.lastfm {
    position: relative;
    width: 100px;
    height: 100px;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    margin-left: 50px;
    font-size: 16px;
}
.lastfm::before {
    content:'';
    background-image: url('./../common/footer_logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -35px;
    top: 6px;
}
.copyright {
    font-size: 14px;
    text-align: center;
    color: rgb(73, 73, 73);
    letter-spacing: 0px;
}
.footer {
    font-family: 'Mukta';
    text-align: center;
    margin-top: 800px;
    margin-bottom: 50px;
}
@media (max-width: 540px) {
    .git {
        position: relative;
        width: 100px;
        height: 100px;
        font-weight: 600;
        color: black;
        margin-left: 55px;
        font-size: 25px;
        margin-right: 0px;
        }
        .git::before {
        content: "";
        background-image: url('./../common/gitlogo.png');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        position: absolute;
        left: -50px;
        top: 0px;
        }
        .lastfm {
        position: relative;
        width: 100px;
        height: 100px;
        font-weight: 600;
        color: black;
        margin-left: 55px;
        font-size: 25px;
        font-weight: 600;
        }
        .lastfm::before {
        content: "";
        background-image: url('./../common/footer_logo.png');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 35px;
        position: absolute;
        left: -48px;
        top: 10px;
        }
        .created,.powered {
            font-size: 25px;
        }
        .copyright {
            font-size: 20px;
            letter-spacing: 1px;
        }
        .footer {
            margin-top: 910px;
        }
}
@media (max-width: 320px) {
    .created {
        font-size: 20px;
    }
    .powered {
        font-size: 20px;
    }
    .git {
    position: relative;
    width: 100px;
    height: 100px;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    margin-left: 55px;
    font-size: 20px;
    margin-right: 0px;
    
    }
    .git::before {
    content: "";
    background-image: url('./../common/gitlogo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    
    position: absolute;
    left: -43px;
    top: 0px;
    }
    .lastfm {
    position: relative;
    width: 100px;
    height: 100px;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    margin-left: 60px;
    font-size: 20px;
    font-weight: 600;
    }
    .lastfm::before {
        content: "";
    background-image: url('./../common/footer_logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30px;
    height:30px;
    position: absolute;
    left: -45px;
    top: 7px;
    }
    .copyright {
        font-size: 15px;
    }
    .footer {
        margin-top: 950px;
    }
}
