.music {
    display: flex;
    padding: 10px;
    border: 1px solid #e2e8f0;
    margin-top: -1px;
    cursor: pointer;
    font-family: 'Mukta', sans-serif;
    background-color: white;
    height: 64px;
}
.posterContainer {
    flex-shrink: 0;
}
.musicWrapper {
    position: absolute;
    top: 170px;
    width: 530px;
    z-index: 10;
}
.music:hover {
    background-color: #edf2f7;
}
.description {
    display: flex; 
        flex-direction: column;
        justify-content: center;
        font-size: 16px;
    padding-left: 25px;
    line-height: 25px;
}
.name {
    font-weight: 700;
}
@media (max-width: 540px) {
    .musicWrapper {
        top: 203px;
    }
    .music {
        height: 110px;
    }
    .poster {
        padding: 5px;
        width: 100%;
    }
    .posterContainer {
        width: 100px;
        height: 100px;
    }
    .description {
        font-size: 25px;
        line-height: 36px;
        padding-left: 30px;
    }
}
@media (max-width: 320px) {
    .musicWrapper {
        top: 212px;
    }
    .music {
        height: 130px;
    }
    .description {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        font-size: 30px;
        padding-left: 25px;
        line-height: 35px;
    }
    .poster {
        padding: 5px;
        width: 100%;
    }
    .posterContainer {
        width: 120px;
        height: 120px;
    }
}