.picture {
    text-align: center;
    position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 170px;
    overflow: hidden;
    width: 100%;
    height: 600px;
    z-index: -10;
  }
  .pictureDisabled {
    pointer-events: none;
  }
  .photo {
    position: absolute;
    width: 100%;
    left: 0px;
    top:0px;
    pointer-events: none;
    z-index: -2;
  }
  
  .first {
    position: absolute;
    top:222px;
    left: 162px;
    transform: 
    perspective(350px)
    rotateY(5deg)
    rotateX(5deg)
    rotate(-10.5deg)
    skew(0deg, 0deg);
    z-index: -6;
    width: 140px;
    height: 142px;
    
  }
  .second {
    position: absolute;
    top: 412px;
    left: 22px;
    
    transform: 
    perspective(200px)
    rotateY(5deg)
    rotateX(10deg)
    rotate(-30deg)
    skew(5deg, 0deg);
    z-index: -6;
    width: 183px;
    height: 173px;
  }
  .third {
    position: absolute;
    top: 344px;
    left: 374px;
    
    transform: 
    perspective(300px)
    rotateY(-5deg)
    rotateX(30deg)
    rotate(35deg)
    skew(-10deg, -10deg);
    z-index: -3;
    width: 125px;
    height: 107px;
  }
  .fourth {
    position: absolute;
    top: 257px;
    left: 345px;
    
    transform: 
    perspective(400px)
    rotateY(-10deg)
    rotateX(5deg)
    rotate(5.5deg)
    skew(0deg, 0deg);
    z-index: -4;
    width: 112px;
    height: 109px;
  }
  
  
  .poster.active {
    outline: 5px #2b6cb0 solid;
    outline-offset: -5px;
  }