
.wrapperSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    position: relative;
}
.search {
    width: 513px;
    border: 1px solid #cbd5e0;
    outline: none;
    display: inline;
    padding: 10px 0px 10px 15px;
    font-family: 'Mukta', sans-serif;
}

.button {
    font-size: 15px;
}
.preloader {
    position: absolute;
    left: 93%;
    top: 5px;
    width: 35px;
    height: 35px;
}
@media (max-width: 540px) {
    .search {
        -webkit-appearance: none; 
        width: 530px;
        padding: 10px 0px 10px 20px;
        border: 1px solid #cbd5e0;
        outline: none;
        font-size: 25px;
        font-family: 'Mukta', sans-serif;
        box-sizing: border-box;
       }
       .preloader {
        left: 90%;
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 320px) {
   .search {
    -webkit-appearance: none; 
    width: 530px;
    padding: 15px 0px 15px 15px;
    border: 1px solid #cbd5e0;
    outline: none;
    font-size: 25px;
    font-family: 'Mukta', sans-serif;
    box-sizing: border-box;
   }
   input[type="text"] {
       padding-left: 20px;
   }
   .preloader {
       left: 87%;
       width: 60px;
       height: 60px;
   }
}
