
@font-face {
  font-family: 'Akzidenz';
  src: local('Akzidenz'), url(./fonts/Akzidenz.woff) format('woff');
}
@font-face {
  font-family: 'itc';
  src: local('itc'), url(./fonts/itc.woff) format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'itc', 'Akzidenz', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
